.app__blog__background{
    background: linear-gradient(0deg, rgba(147, 189, 248, 0.2), rgba(147, 189, 248, 0.2)), url('../../../public/assets/images/slider/slider3.webp');
    background-position: bottom;
    // background-color: aquamarine;
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    top: 15%;

}
.app__blog__search{
    border: none;
    border-radius: 0 !important;
    padding: 0px 0px !important;
    border-bottom: 2px solid grey;
}
.app__blog__input{
    font-family: Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(185, 182, 182, 0.51) !important;
    max-width: 150px;
    height: 25px;
    border: none;
    border-radius: 0 !important;
    padding: 0px 0px !important;
    outline: none;    
}
.app__blog__title{
    cursor: pointer;
    &:hover ~ .app__blog__des .app__blog__des__title{
        color: #377DBD;
    }
}
.app__blog__des{
    cursor: pointer;
    &:hover div{
        color: #377DBD;
    }
}
.app__blog__comments{
    cursor: pointer;
    &:hover{
        color: #377DBD;
    }
}
.app__blog__res__menu{  
    height:0px;
    // div{
    //     @media screen and (max-width:800px) {
    //         height: 0px;
    //         animation-duration: 1s;
    //         animation-name: blogMenuResCloseLinks;
    //     }
    //     &.active{
    //         height: 6vh;
    //         animation-duration: 1s;
    //         animation-name: blogMenuResOpenLinks;
    //     }
    //     @keyframes blogMenuResOpenLinks {
    //         from {height: 0px;}
    //         to {height: 6vh;}
    //     }
    //     @keyframes blogMenuResCloseLinks {
    //         from {height: 6vh;}
    //         to {height: 0px;}
    //     }
    // }
    @media screen and (max-width:800px) {
        height: 0px;
        animation-duration: 1s;
        animation-name: blogMenuResClose;
    }
    &.active{
        height: 100%;
        animation-duration: 1s;
        animation-name: blogMenuResOpen;
    }

    @keyframes blogMenuResOpen {
        from {height: 0px;}
        to {height: 100%;}
    }
    @keyframes blogMenuResClose {
        from {height: 100%;}
        to {height: 0px;}
    }
}