.app__blog__background{
    background: linear-gradient(0deg, rgba(147, 189, 248, 0.2), rgba(147, 189, 248, 0.2)), url('../../../public/assets/images/slider/slider3.webp');
    background-position: bottom;
    // background-color: aquamarine;
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    top: 15%;

}
.app__blog__search{
    border: none;
    border-radius: 0 !important;
    padding: 0px 0px !important;
    border-bottom: 2px solid grey;
}
.app__blog__input{
    font-family: Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(185, 182, 182, 0.51) !important;
    max-width: 150px;
    height: 25px;
    border: none;
    border-radius: 0 !important;
    padding: 0px 0px !important;
    outline: none;    
}
.app__blog__title{
    cursor: pointer;
    &:hover ~ .app__blog__des .app__blog__des__title{
        color: #377DBD;
    }
}
.app__blog__des{
    cursor: pointer;
    &:hover div{
        color: #377DBD;
    }
}
.app__blog__comments{
    cursor: pointer;
    &:hover{
        color: #377DBD;
    }
}
.app__blog__res__menu{  
    height:0px;
    .app__blog__res__menu__links{
        @media screen and (max-width:900px) {
            opacity: 0;
            animation-duration: 1s;
            animation-name: blogMenuResCloseLinks;
        }
        &.active{
            opacity: 1;
            animation-duration: 1s;
            animation-name: blogMenuResOpenLinks;
        }
        @keyframes blogMenuResOpenLinks {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @keyframes blogMenuResCloseLinks {
            from {opacity: 1;}
            to {opacity: 0;}
        }
    }
    @media screen and (max-width:900px) {
        height: 0px;
        animation-duration: 1s;
        animation-name: blogMenuResClose;
    }
    &.active{
        height: 45vh;
        animation-duration: 1s;
        animation-name: blogMenuResOpen;
    }

    @keyframes blogMenuResOpen {
        from {height: 0px;}
        to {height: 45vh;}
    }
    @keyframes blogMenuResClose {
        from {height: 45vh;}
        to {height: 0px;}
    }
}