.app__notice__btn{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #41B7C4 !important;
    font-size: 1.2rem;
    font-weight: 400 !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px !important;
    width: 152px;
}